.text-field {
    -fx-base             : lightgray;
    -fx-background-radius: 20px;
}

.loupe {
    -fx-pref-width       : 20px;
    -fx-pref-height      : 20px;
    -fx-max-width        : 20px;
    -fx-max-height       : 20px;
    -fx-background-color : rgba(50, 50, 50, 0.5);
    -fx-background-insets: 0 2 0 2;
    -fx-scale-shape      : true;    
    -fx-shape            : "M 18.1332 3.1667 C 14.1383 -0.8283 7.6616 -0.8284 3.6666 3.1667 
                            C -0.3282 7.1614 -0.3282 13.6382 3.6666 17.6333 C 7.0645 21.031 12.2572 21.5368 16.1918 19.1545 
                            L 22.1802 25.1429 C 23.1364 26.099 24.6866 26.0991 25.6428 25.1429 
                            C 26.5988 24.1869 26.5988 22.6364 25.6428 21.6805 L 19.6545 15.6921 
                            C 22.0367 11.7575 21.5313 6.5646 18.1332 3.1667 ZM 15.3917 14.8916 
                            C 12.9111 17.3723 8.8892 17.3721 6.4084 14.8915 C 3.9277 12.4109 3.9275 8.3888 6.4082 5.9083 
                            C 8.889 3.4275 12.9111 3.4275 15.3915 5.9083 C 17.8726 8.3889 17.8726 12.411 15.3917 14.8916 Z";
}

.cross-button {
    -fx-pref-width       : 20px;
    -fx-pref-height      : 20px;
    -fx-max-width        : 20px;
    -fx-max-height       : 20px;
    -fx-background-color : rgba(50, 50, 50, 0.5);
    -fx-background-insets: 0 2 0 2;
    -fx-scale-shape      : true;
    -fx-shape            : "M24,0 C37.255,0 48,10.745 48,24 C48,37.255 37.255,48 24,48 C10.745,48 -0,37.255 -0,24 
                            C-0,10.745 10.745,0 24,0 z M32.839,11.626 L24,20.465 L15.161,11.626 L11.626,15.161 
                            L20.464,24 L11.626,32.839 L15.161,36.374 L24,27.535 L32.839,36.374 L36.374,32.839 
                            L27.535,24 L36.374,15.161 z";
}
