.calculator {
    -fx-background-color      : linear-gradient(to bottom, rgb(38,38,38) 0%,rgb(29,29,29) 100%);
    -fx-outer-border          : rgb(18, 18, 18);
    -fx-shadow-highlight-color: transparent;
}

.button {
    -fx-pref-width       : 114;
    -fx-pref-height      : 56;
    -fx-background-color : -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-radius: 5, 4, 3, 2;
    -fx-background-insets: 0, 1, 2, 3;
    -fx-text-fill        : white;
    -fx-alignment        : center;
    -fx-font             : 2em "Verdana";
    -fx-effect           : dropshadow(two-pass-box, rgba(0, 0, 0, 0.5), 2, 0, 0, 2);
}
.button:armed {
    -fx-effect           : dropshadow(gaussian, rgba(0, 0, 0, 0.5), 2, 0, 0, 0);
}

.button-gray {
    -fx-text-fill             : white;
    -fx-shadow-highlight-color: black;
    -fx-outer-border          : linear-gradient(to bottom, #9b9d9f 0%, #606467 15%, #535759 50%, #3d4144 100%);
    -fx-inner-border          : linear-gradient(to bottom, #555b5e 0%, #555b5e 50%, #555b5e 100%);
    -fx-body-color            : linear-gradient(to bottom, #4c5154 0%, #666b6e 100%);
}
.button-gray:armed {
    -fx-outer-border          : linear-gradient(to bottom, #4c4e4f 0%, #323435 15%, #292c2c 50%, #1e2122 100%);
    -fx-inner-border          : linear-gradient(to bottom, #2a2e2f 0%, #2a2e2f 50%, #2a2e2f 100%);
    -fx-body-color            : linear-gradient(to bottom, #25292a 0%, #323637 100%);
}

.button-white {
    -fx-text-fill             : black;
    -fx-shadow-highlight-color: black;
    -fx-outer-border          : linear-gradient(to bottom, #e0e0e0 0%, #cccccc 15%, #bababa 50%, #a5a5a5 100%);
    -fx-inner-border          : linear-gradient(to bottom, #e5e5e5 0%, #e5e5e5 50%, #e5e5e5 100%);
    -fx-body-color            : linear-gradient(to bottom, #cecece 0%, #e7e7e7 100%);
}
.button-white:armed {
    -fx-text-fill             : white;
    -fx-outer-border          : linear-gradient(to bottom, #707070 0%, #676767 15%, #5e5e5e 50%, #535353 100%);
    -fx-inner-border          : linear-gradient(to bottom, #737373 0%, #737373 50%, #737373 100%);
    -fx-body-color            : linear-gradient(to bottom, #686868 0%, #747474 100%);
}

.button-brown {
    -fx-text-fill             : white;
    -fx-shadow-highlight-color: black;
    -fx-outer-border          : linear-gradient(to bottom, #a9a09b 0%, #7a6d66 15%, #695c55 50%, #52463d 100%);
    -fx-inner-border          : linear-gradient(to bottom, #726156 0%, #726156 50%, #726156 100%);
    -fx-body-color            : linear-gradient(to bottom, #67584e 0%, #807167 100%);
}
.button-brown:armed {
    -fx-outer-border          : linear-gradient(to bottom, #54504e 0%, #3c3633 15%, #342e2b 50%, #292320 100%);
    -fx-inner-border          : linear-gradient(to bottom, #39312c 0%, #39312c 50%, #39312c 100%);
    -fx-body-color            : linear-gradient(to bottom, #342d28 0%, #403933 100%);
}
.button-brown:focused {
    -fx-color           : -fx-focused-base;
    -fx-background-color: rgb(195, 197, 198), -fx-outer-border, -fx-inner-border, -fx-body-color;
}

.button-red {
    -fx-text-fill             : white;
    -fx-shadow-highlight-color: black;
    -fx-outer-border          : linear-gradient(to bottom, #c98483 0%, #a8403e 15%, #97302e 50%, #811917 100%);
    -fx-inner-border          : linear-gradient(to bottom, #b42420 0%, #b42420 50%, #b42420 100%);
    -fx-body-color            : linear-gradient(to bottom, #a2211e 0%, #bb3b38 100%);
}
.button-red:armed {
    -fx-outer-border          : linear-gradient(to bottom, #654241 0%, #552221 15%, #4c1817 50%, #410d0c 100%);
    -fx-inner-border          : linear-gradient(to bottom, #5a1210 0%, #5a1210 50%, #5a1210 100%);
    -fx-body-color            : linear-gradient(to bottom, #51110f 0%, #5d1d1c 100%);
}

.button-orange {
    -fx-text-fill             : white;
    -fx-shadow-highlight-color: black;
    -fx-outer-border          : linear-gradient(to bottom, #e9b07c 0%, #de8838 15%, #ca7320 50%, #b25c00 100%);
    -fx-inner-border          : linear-gradient(to bottom, #f98100 0%, #f98100 50%, #f98100 100%);
    -fx-body-color            : linear-gradient(to bottom, #e07400 0%, #f98d23 100%);
}
.button-orange:armed {
    -border                   : linear-gradient(to bottom, #75583e 0%, #6e441c 15%, #643a10 50%, #592e04 100%);
    -fx-inner-border          : linear-gradient(to bottom, #7c4103 0%, #7c4103 50%, #7c4103 100%);
    -fx-body-color            : linear-gradient(to bottom, #703b04 0%, #7c4713 100%);
}

.lcd {
    -fx-pref-height      : 72;
    -fx-max-height       : 72;
    -fx-font             : 4.5em "Verdana";
    -fx-text-fill        : rgb(0, 12, 6);
    -fx-alignment        : center-right;
    -fx-background-radius: 0;/*5, 5, 4, 3;*/
    -fx-padding          : 4px, 10px, 4px, 10px;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-color : lightgray,
                           linear-gradient(from 0% 0% to 0% 100%,
                                           darkgray 0%,
                                           gray 2%,
                                           gray 99%,
                                           white 100%),
                           linear-gradient(from 0% 0% to 0% 100%,
                                           rgb(170,183,145) 0%,
                                           rgb(179,195,149) 27%,
                                           rgb(190,208,155) 49%,
                                           rgb(181,202,137) 50%,
                                           rgb(201,224,153) 72%,
                                           rgb(222,247,169) 94%,
                                           rgb(184,205,141) 100%);
    -fx-effect           : innershadow(gaussian, rgba(0, 0, 0, 0.5), 3, 0, 0, 2);
}
