.calculator {
    -fx-background-color      : linear-gradient(to bottom, rgb(59,59,59) 0%,rgb(21,19,19) 100%);
    -fx-shadow-highlight-color: transparent;
}

.button {
    -fx-pref-width       : 58;
    -fx-pref-height      : 37;
    -fx-outer-border     : rgb(18, 18, 18);
    -fx-background-color : -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: -1.0, 0, 1, 2;
    -fx-background-radius: 6.4, 5, 4, 3;
    -fx-padding          : 0.166667em 0.833333em 0.25em 0.833333em; /* 2 10 3 10 */
    -fx-text-fill        : -fx-text-base-color;
    -fx-font             : 1em "Verdana";
    -fx-alignment        : CENTER;
    -fx-content-display  : LEFT;
    -fx-effect           : dropshadow(gaussian, rgba(0, 0, 0, 0.5), 2, 0, 0, 2);
}
.button:armed {
    -fx-effect  : dropshadow(gaussian, rgba(0, 0, 0, 0.5), 2, 0, 0, 0);
    -fx-padding : 0.166667em 0.833333em 0.1em 0.833333em;
}

.button-gray {    
    -fx-inner-border    : linear-gradient(to bottom, rgb(107,107,107) 0%,rgb(75,75,75) 20%,rgb(52,52,52) 80%,rgb(32,32,32) 100%);
    -fx-body-color      : linear-gradient(to bottom, rgb(69,69,69) 0%,rgb(50,50,50) 2%,rgb(40,40,40) 55%,rgb(39,39,39) 56%,rgb(32,32,32) 100%);
    -fx-text-base-color : #ffffff;
}
.button-gray:armed {
    -fx-inner-border    : linear-gradient(to bottom, rgb(60,60,60) 0%,rgb(38,38,38) 20%,rgb(28,28,28) 80%,rgb(0,0,0) 100%);
    -fx-body-color      : linear-gradient(to bottom, rgb(32,32,32) 0%,rgb(40,40,40) 55%,rgb(39,39,39) 56%,rgb(50,50,50) 98%,rgb(69,69,69) 100%);
    -fx-text-base-color : #ffffff;
}

.button-brown {
    -fx-inner-border   : linear-gradient(to bottom, rgb(0,137,157) 0%,rgb(0,114,134) 20%,rgb(0,80,95) 80%,rgb(0,62,81) 100%);
    -fx-body-color     : linear-gradient(to bottom, rgb(0,108,132) 0%,rgb(0,93,119) 2%,rgb(0,78,100) 55%,rgb(0,75,96) 56%,rgb(0,63,82) 100%);
    -fx-text-base-color: #ffffff;
}
.button-brown:armed {
    -fx-inner-border   : linear-gradient(to bottom, rgb(9,75,88) 0%,rgb(19,54,65) 20%,rgb(19,54,65) 80%,rgb(4,31,42) 100%);
    -fx-body-color     : linear-gradient(to bottom, rgb(0,62,81) 0%,rgb(0,62,81) 2%,rgb(0,76,98) 55%,rgb(0,76,98) 56%,rgb(0,92,118) 100%);
    -fx-text-base-color: #ffffff;
}
.button-brown:focused {
    -fx-color           : -fx-focused-base;
    -fx-background-color: rgb(195, 197, 198), -fx-outer-border, -fx-inner-border, -fx-body-color;
}

.button-red {
    -fx-inner-border    : linear-gradient(to bottom, rgb(205,122,97) 0%,rgb(182,95,68) 20%,rgb(136,66,42) 80%,rgb(122,46,19) 100%);
    -fx-body-color      : linear-gradient(to bottom, rgb(188,89,54) 0%,rgb(179,71,33) 2%,rgb(155,62,27) 55%,rgb(148,58,26) 56%,rgb(125,47,20) 100%);
    -fx-text-base-color : #ffffff;
}
.button-red:armed {
    -fx-inner-border    : linear-gradient(to bottom, rgb(133,71,56) 0%,rgb(109,51,36) 20%,rgb(109,51,36) 80%,rgb(63,22,11) 100%);
    -fx-body-color      : linear-gradient(to bottom, rgb(122,46,19) 0%,rgb(122,46,19) 2%,rgb(152,59,27) 55%,rgb(144,57,25) 56%,rgb(179,71,33) 100%);
    -fx-text-base-color : #ffffff;
}

.button-white {
    -fx-inner-border    : linear-gradient(to bottom, rgb(148,148,148) 0%,rgb(120,120,120) 20%,rgb(89,89,89) 80%,rgb(73,73,73) 100%);
    -fx-body-color      : linear-gradient(to bottom, rgb(122,122,122) 0%,rgb(107,107,107) 2%,rgb(89,89,89) 55%,rgb(85,85,85) 56%,rgb(74,74,74) 100%);
    -fx-text-base-color : white;
}
.button-white:armed {
    -fx-inner-border    : linear-gradient(to bottom, rgb(95,95,95) 0%,rgb(95,95,95) 20%,rgb(95,95,95) 50%,rgb(69,69,69) 100%);
    -fx-body-color      : linear-gradient(to bottom, rgb(95,95,95) 0%,rgb(86,86,86) 2%,rgb(91,91,91) 50%,rgb(96,96,96) 92%,rgb(95,95,95) 95%,rgb(95,95,95) 100%);
    -fx-text-base-color : #ffffff;
}

.button-orange {
    -fx-inner-border    : linear-gradient(to bottom, rgb(0,173,197) 0%,rgb(0,154,179) 20%,rgb(0,114,135) 80%,rgb(0,95,118) 100%);
    -fx-body-color      : linear-gradient(to bottom, rgb(0,154,184) 0%,rgb(0,143,175) 2%,rgb(0,118,143) 55%,rgb(0,116,142) 56%,rgb(0,97,119) 100%);
    -fx-text-base-color : #ffffff;
}
.button-orange:armed {
    -fx-inner-border    : linear-gradient(to bottom, rgb(13,109,126) 0%,rgb(11,90,108) 20%,rgb(2,90,108) 80%,rgb(11,50,64) 100%);
    -fx-body-color      : linear-gradient(to bottom, rgb(0,97,119) 0%,rgb(0,123,150) 50%,rgb(0,143,175) 100%);
    -fx-text-base-color : #ffffff;
}

.lcd {
    -fx-font             : 2.5em "Verdana";
    -fx-text-fill        : linear-gradient(to bottom ,rgb(0,252,255) 0%,rgb(0,222,255) 100%);
    -fx-alignment        : center-right;
    -fx-background-radius: 0;
    -fx-padding          : 4px, 10px, 4px, 10px;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-color :   lightgray,
    linear-gradient(from 0% 0% to 0% 100%,
                    darkgray 0%,
                    gray 2%,
                    gray 99%,
                    white 100%),
    linear-gradient(from 0% 0% to 0% 100%,
                    rgb(35,57,60) 0%,
                    rgb(24,42,43) 100%);
    -fx-effect           : innershadow(gaussian, rgba(0, 0, 0, 0.5), 3, 0, 0, 2);
}
