.root {
    -button-color        : #4c9bdb;
    -button-color-pressed: #4386ba;
    -icon-color          : #80c8ff;
}

#background {
    -light-black        : rgb(74, 75, 78);
    -dark-highlight     : rgb(87, 89, 92);
    -dark-black         : rgb(39, 40, 40);
    -darkest-black      : rgb(5, 5, 5);
    -mid-gray           : rgb(216, 222, 227);
    -fx-background-color: -mid-gray;
}

.tool-bar {
    -fx-base             : -dark-black;
    -fx-font-size        : 10pt;
    -fx-background-color : linear-gradient(to bottom, derive(-fx-base,-30%), derive(-fx-base,-60%)),
                           linear-gradient(to bottom, -light-black 2%, -dark-black 98%);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding          : .9em 0.416667em .9em 0.416667em;
    -fx-effect           : dropshadow(two-pass-box,black,5,.2,0,0);
}

/* Segmented button bar */
.segmented-button-bar .button, .toggle-button{
    -fx-background-color : -darkest-black,
                           -dark-highlight,
                           linear-gradient(to bottom, -light-black 2%, -dark-black 98%);
    -fx-background-insets: 0, 1 1 1 0, 2 1 1 1;
    -fx-background-radius: 0;
    -fx-padding          : 0.4em 1.2em 0.4em 1.2em;
}
.segmented-button-bar .button.first, .toggle-button.first{
    -fx-background-insets: 0, 1, 2 1 1 1;
    -fx-background-radius: 3 0 0 3, 2 0 0 2, 2 0 0 2;
}
.segmented-button-bar .button.last, .toggle-button.last {
    -fx-background-insets: 0, 1 1 1 0, 2 1 1 1;
    -fx-background-radius: 0 3 3 0, 0 2 2 0, 0 2 2 0;
}
.segmented-button-bar .button:pressed, .toggle-button:selected {    
    -fx-padding          : 0.5em 1.2em 0.3em 1.2em;
    -fx-background-color : -darkest-black,
                           rgb(55, 57, 58),
                           linear-gradient(to top, -light-black 2%, -dark-black 98%);
}

/* Icons for toolbar buttons*/
#calculator {
    -fx-background-color: white;
    -fx-pref-width      : 8;
    -fx-pref-height     : 12;
    -fx-scale-shape     : true;
    -fx-shape           : "M 683.9998 542.9998 L 667.9998 542.9998 C 667.4474 542.9998 666.9998 542.5521 666.9998 541.9999 
    L 666.9998 520.9998 C 666.9998 520.4476 667.4474 519.9999 667.9998 519.9999 L 683.9998 519.9999
    C 684.552 519.9999 684.9997 520.4476 684.9997 520.9998 L 684.9997 541.9999
    C 684.9997 542.5521 684.552 542.9998 683.9998 542.9998 ZM 677.9998 540.9998 L 679.9997 540.9998
    L 679.9997 538.9998 L 677.9998 538.9998 L 677.9998 540.9998 ZM 677.9998 537.9998 L 679.9997 537.9998
    L 679.9997 535.9998 L 677.9998 535.9998 L 677.9998 537.9998 ZM 677.9998 534.9999 L 679.9997 534.9999
    L 679.9997 532.9998 L 677.9998 532.9998 L 677.9998 534.9999 ZM 677.9998 531.9998 L 679.9997 531.9998
    L 679.9997 529.9998 L 677.9998 529.9998 L 677.9998 531.9998 ZM 674.9998 540.9998 L 676.9998 540.9998
    L 676.9998 538.9998 L 674.9998 538.9998 L 674.9998 540.9998 ZM 674.9998 537.9998 L 676.9998 537.9998
    L 676.9998 535.9998 L 674.9998 535.9998 L 674.9998 537.9998 ZM 674.9998 534.9999 L 676.9998 534.9999
    L 676.9998 532.9998 L 674.9998 532.9998 L 674.9998 534.9999 ZM 674.9998 531.9998 L 676.9998 531.9998
    L 676.9998 529.9998 L 674.9998 529.9998 L 674.9998 531.9998 ZM 668.9998 540.9998 L 673.9997 540.9998
    L 673.9997 538.9998 L 668.9998 538.9998 L 668.9998 540.9998 ZM 671.9998 532.9998 L 671.9998 534.9999
    L 673.9997 534.9999 L 673.9997 532.9998 L 671.9998 532.9998 ZM 673.9997 531.9998 L 673.9997 529.9998
    L 671.9998 529.9998 L 671.9998 531.9998 L 673.9997 531.9998 ZM 671.9998 535.9998 L 671.9998 537.9998
    L 673.9997 537.9998 L 673.9997 535.9998 L 671.9998 535.9998 ZM 668.9998 537.9998 L 670.9997 537.9998
    L 670.9997 535.9998 L 668.9998 535.9998 L 668.9998 537.9998 ZM 668.9998 534.9999 L 670.9997 534.9999
    L 670.9997 532.9998 L 668.9998 532.9998 L 668.9998 534.9999 ZM 668.9998 531.9998 L 670.9997 531.9998
    L 670.9997 529.9998 L 668.9998 529.9998 L 668.9998 531.9998 ZM 682.9998 521.9999 L 668.9998 521.9999
    L 668.9998 527.9998 L 682.9998 527.9998 L 682.9998 521.9999 ZM 682.9998 529.9998 L 680.9996 529.9998
    L 680.9996 531.9998 L 682.9998 531.9998 L 682.9998 529.9998 ZM 682.9998 532.9998 L 680.9996 532.9998
    L 680.9996 534.9999 L 682.9998 534.9999 L 682.9998 532.9998 ZM 682.9998 535.9998 L 680.9996 535.9998
    L 680.9996 540.9998 L 682.9998 540.9998 L 682.9998 535.9998 Z";
}
#editor {
    -fx-background-color: white;
    -fx-pref-width      : 12;
    -fx-pref-height     : 12;
    -fx-scale-shape     : true;
    -fx-shape           : "M 23.8912 4.9255 L 11.3654 17.4514 L 11.3652 17.4515 L 11.8704 16.9463 L 8.3349 13.4107 
    L 20.3557 1.3899 C 21.1368 0.6088 22.4031 0.6088 23.1841 1.3899 L 23.8912 2.097 
    C 24.6722 2.8781 24.6722 4.1444 23.8912 4.9255 ZM 18.9415 2.8041 L 18.2344 3.5112 L 21.7699 7.0468 L 22.477 6.3397 
    L 18.9415 2.8041 ZM 8.1712 13.5745 L 7.8298 13.9159 L 7.8298 13.9158 L 8.1712 13.5745 ZM 5.5064 19.8757 
    L 7.7164 14.2065 L 11.0795 17.5696 L 5.5064 19.8757 ZM 3.0166 4.9833 L 3.0126 22.0102 L 20.0388 22.0025 
    L 19.9852 10.9184 L 21.9999 8.9415 L 21.9999 22.9999 C 21.9999 23.5522 21.5522 23.9999 20.9999 23.9999 
    L 1.9999 23.9999 C 1.4476 23.9999 0.9999 23.5522 0.9999 22.9999 L 0.9999 3.9999 C 0.9999 3.4476 1.4476 3 1.9999 3 
    L 16.8041 3 L 14.9374 4.9791 L 3.0166 4.9833 Z";
}
#gauge {
    -fx-background-color: white;
    -fx-pref-width      : 12;
    -fx-pref-height     : 12;
    -fx-scale-shape     : true;
    -fx-shape           : "M 14 4.4666 C 19.2644 4.4666 23.5334 8.7357 23.5334 14 
    C 23.5334 15.8497 23.0066 17.5765 22.0945 19.0385 C 21.4197 18.5931 20.6131 18.3333 19.7416 18.3333 
    C 17.3482 18.3333 15.4083 20.2731 15.4083 22.6667 C 15.4083 22.9239 15.4311 23.1754 15.4745 23.4195 
    C 14.994 23.4942 14.5015 23.5334 14 23.5334 C 13.1125 23.5334 12.2534 23.4117 11.4381 23.1847 
    C 11.5072 22.8797 11.5437 22.5625 11.5437 22.2357 C 11.5437 19.8424 9.6038 17.9025 7.2103 17.9025 
    C 6.5908 17.9025 6.0044 18.0339 5.4746 18.2699 C 4.8298 16.9854 4.4666 15.5348 4.4666 14 
    C 4.4666 8.7357 8.7357 4.4666 14 4.4666 ZM 14 1 C 6.8314 1 1 6.8314 1 14 C 1 21.1686 6.8314 27 14 27 
    C 21.1687 27 27 21.1686 27 14 C 27 6.8314 21.1687 1 14 1 ZM 19.9348 7.6256 
    C 19.8134 7.5042 19.6161 7.5048 19.494 7.6268 L 17.5495 9.5713 C 17.4274 9.6934 17.4269 9.8907 17.5483 10.0121 
    L 17.9879 10.4517 C 18.1094 10.5731 18.3067 10.5725 18.4287 10.4505 L 20.3732 8.506 
    C 20.4953 8.3839 20.4958 8.1866 20.3744 8.0652 L 19.9348 7.6256 ZM 7.9397 7.6256 L 7.5 8.0652 
    C 7.3786 8.1866 7.3791 8.3839 7.5011 8.506 L 9.4456 10.4505 C 9.5678 10.5725 9.7651 10.5731 9.8865 10.4517 
    L 10.3261 10.0121 C 10.4475 9.8907 10.4469 9.6934 10.3249 9.5713 L 8.3804 7.6268 
    C 8.2584 7.5048 8.061 7.5042 7.9397 7.6256 ZM 14.1256 5.2705 L 13.4976 5.2705 
    C 13.3242 5.2705 13.1836 5.4111 13.1836 5.5845 L 13.1836 8.3479 C 13.1836 8.5212 13.3242 8.6619 13.4976 8.6619 
    L 14.1256 8.6619 C 14.299 8.6619 14.4397 8.5212 14.4397 8.3479 L 14.4397 5.5845 
    C 14.4397 5.4111 14.299 5.2705 14.1256 5.2705 ZM 19.3382 12.9951 L 19.3382 13.6231 
    C 19.3382 13.7966 19.4788 13.9371 19.6522 13.9371 L 22.4155 13.9371 C 22.5889 13.9371 22.7295 13.7966 22.7295 13.6231 
    L 22.7295 12.9951 C 22.7295 12.8217 22.5889 12.681 22.4155 12.681 L 19.6522 12.681 
    C 19.4788 12.681 19.3382 12.8217 19.3382 12.9951 ZM 4.8938 12.9951 L 4.8938 13.6231 
    C 4.8938 13.7966 5.0343 13.9371 5.2077 13.9371 L 7.9711 13.9371 C 8.1444 13.9371 8.285 13.7966 8.285 13.6231 
    L 8.285 12.9951 C 8.285 12.8217 8.1444 12.681 7.9711 12.681 L 5.2077 12.681 
    C 5.0343 12.681 4.8938 12.8217 4.8938 12.9951 ZM 15.1952 15.6414 C 14.7536 14.5443 11.5508 11.5507 11.5508 11.5507 
    C 11.5508 11.5507 12.0531 14.7326 12.4509 16.5958 C 12.6061 16.9833 13.4168 18.0941 14.5652 17.6634 
    C 15.5701 17.2866 15.4738 16.3336 15.1952 15.6414 Z";
}
#table {
    -fx-background-color: white;
    -fx-pref-width      : 16;
    -fx-pref-height     : 12;
    -fx-scale-shape     : true;
    -fx-shape           : "M 19 5 L 19 1 L 27 1 L 27 5 L 19 5 ZM 27 6 L 27 10 L 19 10 L 19 6 L 27 6 ZM 18 5 L 10 5 
    L 10 1 L 18 1 L 18 5 ZM 18 6 L 18 10 L 10 10 L 10 6 L 18 6 ZM 9 10 L 1 10 L 1 6 L 9 6 L 9 10 ZM 9 11 L 9 15 L 1 15 
    L 1 11 L 9 11 ZM 10 11 L 18 11 L 18 15 L 10 15 L 10 11 ZM 18 16 L 18 20 L 10 20 L 10 16 L 18 16 ZM 19 16 L 27 16 
    L 27 20 L 19 20 L 19 16 ZM 19 15 L 19 11 L 27 11 L 27 15 L 19 15 ZM 9 1 L 9 5 L 1 5 L 1 1 L 9 1 ZM 1 16 L 9 16 
    L 9 20 L 1 20 L 1 16 ZM 28 20 L 28 16 L 28 15 L 28 11 L 28 10 L 28 6 L 28 5 L 28 1 L 28 0 L 0 0 L 0 21 L 28 21 
    L 28 20 ZM 20 2 L 20 3.9688 L 25.9688 3.9688 L 25.9688 2 L 20 2 ZM 11 2 L 11 3.9688 L 16.9688 3.9688 L 16.9688 2 
    L 11 2 ZM 2 7 L 2 8.9688 L 7.9688 8.9688 L 7.9688 7 L 2 7 ZM 2 12 L 2 13.9686 L 7.9688 13.9686 L 7.9688 12 L 2 12 Z
    M 2 2 L 2 4 L 7.9688 4 L 7.9688 2 L 2 2 ZM 2 17 L 2 18.9686 L 7.9688 18.9686 L 7.9688 17 L 2 17 Z";
}
#exit {
    -fx-background-color: white;
    -fx-pref-width      : 12;
    -fx-pref-height     : 12;
    -fx-scale-shape     : true;
    -fx-shape           : "M 27.262 28.0734 C 24.2711 31.0642 20.2939 32.7117 16.0632 32.7126 
    C 11.832 32.7117 7.8547 31.0642 4.864 28.0734 C 1.8732 25.0824 0.2255 21.1055 0.2247 16.8744
    C 0.2245 14.4313 0.7671 12.0863 1.8376 9.9048 C 2.8584 7.8242 4.3542 5.9591 6.1631 4.511
    C 6.519 4.2257 6.9477 4.0748 7.4028 4.0748 L 7.403 4.0748 C 8.0087 4.0748 8.5734 4.3457 8.952 4.8179
    C 9.2832 5.2314 9.4338 5.7491 9.3759 6.2759 C 9.3179 6.8027 9.0582 7.2754 8.6447 7.6068
    C 5.8162 9.8784 4.1934 13.2563 4.1926 16.8745 C 4.1939 20.0426 5.4288 23.0234 7.6696 25.2678
    C 9.9141 27.5085 12.8948 28.7433 16.0632 28.7445 C 19.2311 28.7433 22.212 27.5085 24.4569 25.2675
    C 26.6975 23.0229 27.932 20.0421 27.9331 16.8741 C 27.9326 13.257 26.3101 9.8792 23.4813 7.6071
    C 23.0679 7.2755 22.8082 6.803 22.7501 6.2761 C 22.692 5.7494 22.8428 5.2316 23.1745 4.8182
    C 23.5529 4.3461 24.1177 4.0751 24.7236 4.0751 C 25.1787 4.0751 25.6073 4.2258 25.9634 4.5114
    C 29.7377 7.5332 31.9019 12.0393 31.901 16.8741 C 31.9004 21.1055 30.2529 25.0824 27.262 28.0734 Z
    M 16.0018 19.7911 C 14.9078 19.7911 14.0179 18.9011 14.0179 17.807 L 14.0179 2.8977
    C 14.0179 1.8036 14.9078 0.9138 16.0018 0.9138 C 17.0957 0.9138 17.9857 1.8036 17.9857 2.8977
    L 17.9857 17.807 C 17.9857 18.9011 17.0957 19.7911 16.0018 19.7911 Z";   
}
